google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
langchain
langchain_openai
langchain_experimental
langchain_community
langgraph
cryptography
pillow
nest-asyncio
python-dotenv
Flask
requests
aiohttp
discord.py
python-dateutil
selenium
pyppeteer